.interest {
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: center;
      gap: 5px;
      list-style: none;
      color: #22586B;
      font-weight: 600;
      margin: 10px 0;

      .fa-solid {
        color: #42A9CF;
        font-size: 25px;
        min-width: 35px;
        text-align: center;
      }
    }
  }
} 